/*--Remember the cascade: Later styles override earlier ones and more specific styles override more general ones.--*/
.dropcap{
font-size: 150px;
float: left;
line-height: 60px;
}

body {
  color: #A3A3FF;
  background-color: #00001a;
  font-size: 16px;
  font-family: 'Gentium Book Basic', serif;
}
p {
  margin-bottom: .67em;
}
nav, footer {
  background-color: #000033;
}
footer {
  text-align: center;
  padding: 1em 0 .3em 0;
  color: #A3A3FF;
}
/*-- Main Menu Styles--*/
nav ul {
  list-style: none;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
nav a:link, nav a:visited {
  color: #A3A3FF;
  text-decoration: none;
}
nav a:hover, nav a:active  {
  text-decoration: underline;
}
nav a.active {
  color: #A3A3FF;
}
/*-- Hero Unit Styles--*/
header {
  width: 510px;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}
header img {
  width: 100%;
  margin: 0 auto;
}

header h1 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 auto;
}
.small {
  margin-top: 1em;
  color: #A3A3FF;
  font-size: 16px;
  font-family: 'lato', sans-serif;
  font-weight: 450;
  text-transform: uppercase;
}
/*-- Article Styles--*/
article {
  width: 768px;
  font-size: 18px;
  line-height: 1.3;
  margin-left: auto;
  margin-right: auto;
}
article figure {
  width: 39%;
  margin: 0 0 1.25em 1.25em;
  float: right;
}
article figcaption {
  font-weight: 450;
  font-family: 'lato', sans-serif;
  color: #A3A3FF;
  font-size: 16px;
}
.pagination {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  width: 96%;
}
a.button {
  border: 1px solid #A3A3FF;
  padding: .4em 1em .4em 1em;
  text-decoration: none;
  color: #A3A3FF;
  border-radius: 200px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 80%;
}
a.button:hover, a.button:active {
  border: 1px solid #5757FF;
  text-decoration: none;
  color: #5757FF;
}
/*-- changes header and article width on small screens --*/
@media screen and (max-width: 768px) {
  header {width: 96%;}
  article {width: 96%;}
}
